* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.purple-bg {
    background-color: purple;
    width: 98%;
    height: 15%;
    position: absolute;
    top: 10px;
    left: 17px;
}

.left-cyan {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 150px;
    left: 10px;
    gap: 20px;
}

.left-cyan div {
    width: 300px;
    height: 50px;
    background-color: cyan;
}

.right-cyan {
    width: 200px;
    height: 500px;
    background-color:cyan;
    position: absolute;
    right: 10px;
    bottom: 98px
}

.footer-dcyan {
    width: 98%;
    height: 10%;
    background-color: cyan;
    position: absolute;
    bottom: 10px;
    left: 17px;
}

@media screen and (max-width:528px) {
    .purple-bg {
        height: 12%;
        width: 98%;
    }

    .left-cyan div {
        width: 98%;
        height: 30px;
    }

    .left-cyan {
        gap: 10px;
        top: 90px;
        width: 98%;
        left: 17px;
    }

    .right-cyan {
        height: 100px;
        width: 98%;
        bottom: 70px;
        left: 10px;
    }

    .footer-dcyan {
        width: 98%;
        bottom: 0px;
        left: 10px;
    }
}

@media screen and (min-width:529px) and (max-width:900px) {

    .left-cyan div {
        height: 40px;
    }

    .left-cyan {
        gap: 10px;
        top: 110px;
        width: 98%;
        left: 17px;
    }

    .right-cyan {
        top: 110px;
        height: 370px;
    }

}

@media screen and (min-width:900px) and (max-width:1300px) {

    .left-cyan div {
        height: 50px;
    }

    .left-cyan {
        gap: 15px;
        top: 110px;
        width: 98%;
        left: 17px;
    }

    .right-cyan {
        top: 110px;
        height: 370px;
    }

}